chardet==3.0.4
click==6.7
Cython==0.28.2
dash
dash-core-components
dash-html-components
dash-renderer
decorator==4.3.0
nbformat==4.4.0
numpy
pandas
pandas-datareader
plotly
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
scipy
dash-auth
